.addEducation button,
.addExperience button {
  font-size: var(--bodyFont);
  background-color: var(--mainFont);
  padding: 0.2rem 2.4vw;
  color: var(--mainLight);
  border: 0.3rem solid var(--mainLight);
  border-radius: 0.8rem;
}
.addEducation,
.addExperience {
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem 1rem;
}
